[Unit]
Description=add AUR upgrades of %i to local repo
Before=aur-repo.target

[Service]
Slice=aur-repo.slice
Type=oneshot

# these are filled by the install script
User=
Environment=SIGN_KEY=
Environment=REPO_FILE=

# override these for specific packages with systemctl edit AUR@package-name.service
Environment=EXTRA_MAKEPKG_FLAGS=""
Environment=AUR_BASE_URL=https://aur.archlinux.org



ExecStart=/usr/bin/aur-repo %i

[Install]
WantedBy=aur-repo.target
Also=aur-repo.timer
